*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  --color-text: #fff;
  --color-text-alt: #767474;
  --color-bg: #0b0a0a;
  --color-link: #aaa;
  --color-link-hover: #fff;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: botanika-mono-web, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'frame page';
}

.oh {
  position: relative;
  overflow: hidden;
}

/* 
FRAME
*/
.frame {
  position: sticky;
  top: 0;
  height: 100vh;
  grid-area: frame;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;
  padding: 2rem;
  text-transform: uppercase;
  opacity: 0.5;
  z-index: 1000;
}

.frame a {
  text-decoration: none;
}

.frame__title {
  display: flex;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: var(--color-text);
}

.frame__title h1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.frame__title svg {
  fill: currentColor;
  transform: rotate(90deg);
}

.frame__prev {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: var(--color-link);
}

.frame__prev:hover {
  color: var(--color-link-hover);
}

.frame__twitter {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: var(--color-text);
}

/* 
PREVIEW
*/
.preview__wrapper {
  position: relative;
  grid-area: page;
  padding: 0 2rem 2rem;
  z-index: 100;
}

.preview {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  padding-top: 3rem;
  min-height: 90vh;
  will-change: transform;
}

.preview__img__wrapper {
  cursor: pointer;
  grid-area: 1/1/-1/-1;
}

.preview__img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.preview__img__inner {
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 150%;
}

.preview__title {
  position: relative;
  grid-area: 1/1/-1/-1;
  place-self: center;
  text-align: center;
  pointer-events: none;
  transform: translate3d(0, 50%, 0);
}

.preview__title__main {
  font-family: scotch-display, sans-serif;
  font-size: max(2rem, min(10vw, 8rem));
  font-weight: 300;
  line-height: 1.2;
}

.preview__title__main span {
  display: block;
}

.preview__title__main span:last-child {
  font-family: scotch-display, sans-serif;
  font-style: italic;
  font-weight: 500;
  transform: translateY(-33%);
}

.preview__description {
  max-width: 400px;
  margin: -2.5rem auto 0;
  text-transform: uppercase;
  line-height: 1.2;
}
