*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  --color-text: #fff;
  --color-text-alt: #767474;
  --color-bg: #0b0a0a;
  --color-link: #aaa;
  --color-link-hover: #fff;
}

html {
  scroll-behavior: initial;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: botanika-mono-web, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.content-open {
  height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  display: grid;
  grid-template-areas:
    'frame'
    'page';
}

@media screen and (min-width: 53em) {
  main {
    grid-template-columns: auto 1fr;
    grid-template-areas: 'frame page';
  }
}

.oh {
  position: relative;
  overflow: hidden;
}

.oh__inner {
  display: inline-block;
  will-change: transform;
}

/* 
FRAME
*/
.frame {
  grid-area: frame;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;
  padding: 2rem;
  text-transform: uppercase;
  opacity: 0.5;
  z-index: 1000;
}

@media screen and (min-width: 53em) {
  .frame {
    position: sticky;
    top: 0;
    height: 100vh;
  }
}

.frame a {
  text-decoration: none;
}

.frame__title {
  display: flex;
  align-items: flex-end;
  color: var(--color-text);
  text-align: right;
}

@media screen and (min-width: 53em) {
  .frame__title {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-align: initial;
    align-items: baseline;
  }
}

.frame__title h1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.frame__title svg {
  fill: currentColor;
  min-width: 1rem;
  min-height: 1rem;
}

@media screen and (min-width: 53em) {
  .frame__title svg {
    transform: rotate(90deg);
  }
}

.frame__prev {
  color: var(--color-link);
}

@media screen and (min-width: 53em) {
  .frame__prev {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
}

.frame__prev:hover {
  color: var(--color-link-hover);
}

.frame__twitter {
  color: var(--color-text);
  text-align: right;
}

@media screen and (min-width: 53em) {
  .frame__twitter {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-align: initial;
  }
}

/* 
PREVIEW
*/
.preview__wrapper {
  position: relative;
  grid-area: page;
  padding: 0 2rem 2rem;
  z-index: 100;
}

.content-open .preview__wrapper {
  pointer-events: none;
}

.preview {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  padding-top: 3rem;
  min-height: 400px;
  will-change: transform;
}

@media screen and (min-width: 53em) {
  .preview {
    min-height: 90vh;
  }
}

.preview__img__wrapper {
  cursor: pointer;
  grid-area: 1/1/-1/-1;
}

.preview__img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.preview__img__inner {
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 150%;
}

.preview__title {
  position: relative;
  grid-area: 1/1/-1/-1;
  place-self: center;
  text-align: center;
  pointer-events: none;
  transform: translate3d(0, 50%, 0);
}

.preview__title__main {
  font-family: scotch-display, sans-serif;
  font-size: max(2rem, min(10vw, 8rem));
  font-weight: 300;
  line-height: 1.2;
}

.preview__title__main span {
  display: block;
}

.preview__title__main > span:last-child {
  font-family: scotch-display, sans-serif;
  font-style: italic;
  font-weight: 500;
  transform: translateY(-33%);
}

.preview__description {
  max-width: 400px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 16px;
}

@media screen and (min-width: 53em) {
  .content__text {
    font-size: 18px;
  }
}

@media screen and (min-width: 53em) {
  .preview__description {
    margin: -2.5rem auto 0;
  }
}

/*  
CONTENT
*/
.content__wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  grid-area: page;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'back back'
    'content content';
  padding: 2rem;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: grid;
  grid-area: 2 / content/span 2;
  grid-gap: 2vw;
  pointer-events: none;
  opacity: 0;
  grid-template-columns: 100%;
  grid-template-rows: 20vh min-content auto;
  grid-template-areas:
    'img'
    'thumbs'
    'text';
}

@media screen and (min-width: 53em) {
  .content {
    grid-template-columns: 60% 1fr;
    grid-template-rows: 2rem 1fr auto 1rem;
    grid-template-areas:
      '... ...'
      'img text'
      'thumbs text'
      '... ...';
  }
}

.content--current {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}

.content__group {
  grid-area: text;
}

.content__title {
  font-family: scotch-display, sans-serif;
  font-size: max(3rem, min(6.5vw, 5.5rem));
  font-weight: 400;
}

.content__title span {
  display: block;
}

.content__title > span:last-child {
  padding-left: 0.75rem;
  font-style: italic;
  font-weight: 500;
  transform: translateY(-25%);
}

.content__meta {
  color: var(--color-text-alt);
  margin-bottom: 2rem;
}

.content__text {
  width: 100%;
  font-size: 16px;
}

@media screen and (min-width: 53em) {
  .content__text {
    max-width: 400px;
    font-size: 18px;
  }
}

.content__thumbs {
  grid-area: thumbs;
  display: flex;
  gap: 2vw;
}

.content__thumbs__item {
  width: 50px;
  aspect-ratio: 1.5;
}

@media screen and (min-width: 53em) {
  .content__thumbs__item {
    width: 100px;
  }
}

.content .preview__img {
  grid-area: img;
  pointer-events: none;
}

/* 
BACK BUTTON
*/

.unbutton {
  font: inherit;
  fill: currentColor;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  border: 0;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.action__back {
  grid-area: back;
  padding: 1rem 0;
  opacity: 0;
}

.action__back svg {
  width: 2em;
  height: 2em;
}

.action__back span {
  margin-left: 1rem;
  text-transform: uppercase;
}
